.MainBox {
    margin-top: 8em;
}
.MainContent {
    padding: 2em;
}
.Btn {
    margin: 1em 1em 0 0;
}
.Btn .Reset {
    margin-left: 1em;
}
.ErrorMessage {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
}